$primary-green-color: #198754;
$primary-blue-color: #0d6efd;
$white-color: #fff;
$dark-color: #212529;
$off-white-color: #f8f9fa;

.shadow-sm {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2) !important;
}

.bg-light-subtle {
    transition: background-color 0.3s ease;
    img {
        height: 80px;
    }
    &:hover {
        background-color: $primary-green-color !important;
        transition: background-color 0.3s ease;
        color: $white-color !important;
    }
}

.top-bar {
    a {
        border: none !important;
        &:hover {
            color: $primary-blue-color !important;
            background-color: transparent !important;
            border: none !important;
            svg {
                path {
                    fill: $primary-blue-color;
                }
            }
        }
    }
    svg {
        height: 20px;
        margin-top: -4px;
        path {
            fill: $off-white-color;
        }
    }
    .logo{
        position: absolute;
        left:0;
        top:-4px;
        z-index: 1;
        img {
            height: 150px;
        }
    }
}

.end-20 {
    right: 20px;
}

.carousel-caption {
    bottom: 30%;
}
.nav-link {
    color: $dark-color;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: $primary-blue-color;
}
.nav-link:focus,
.nav-link:hover {
    color: $primary-blue-color;
}

.top-section {
    margin-top: -60px;
}

h1.lobster {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.navbar-collapse,
.navbar-nav {
    display:flex;
    justify-content: center;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

@media (max-width: 768px) {
    button.navbar-toggler {
        margin: auto;
        display: block;
    }
    .navbar-collapse.collapse.show {
        text-align: center;
    }
}